#chbslide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#cbimage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}
#slideshow {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
#inner-slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}
#buttonchange {
  position: relative;
  width: 100%;
  height: 100%;
}
#next {
  position: relative;
  top: 350px;
}
#previous {
  position: relative;
  top: 350px;
}

#one {
  width: 30px;
  height: 35px;
  position: absolute;
  top: 193px;
  left: 1243px;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}
#two {
  width: 23px;
  height: 35px;
  top: 190px;
  left: 1275px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}
#three {
  width: 22px;
  height: 30px;
  top: 197px;
  left: 1300px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}
#four {
  width: 40px;
  height: 35px;
  top: 240px;
  left: 1264px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}
#five {
  width: 70px;
  height: 90px;
  top: 150px;
  left: 1098px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}

#six {
  width: 90px;
  height: 90px;
  top: 152px;
  left: 975px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}

#seven {
  width: 70px;
  height: 70px;
  top: 285px;
  left: 1080px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}

#eight {
  width: 30px;
  height: 30px;
  top: 446px;
  left: 1230px;
  position: absolute;
  background: transparent;
  /* background-color: red; */
  border: none;
  font-size: 0;
}
